<%- include ('../layouts/headerClient'); -%>
<div class="contact_form">
    <div class="container">
        <div class="row">
            <div class="col-8 card">
                <table class="table table-response">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Body</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="col">1</td>
                            <td scope="col">2</td>
                            <td scope="col">3</td>
                            <td scope="col">4</td>
                        </tr>
                        <tr>
                            <td scope="col">1</td>
                            <td scope="col">2</td>
                            <td scope="col">3</td>
                            <td scope="col">4</td>
                        </tr>
                        <tr>
                            <td scope="col">1</td>
                            <td scope="col">2</td>
                            <td scope="col">3</td>
                            <td scope="col">4</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="" class="cart-img-top" style="height: 90px; width: 90px; margin-left:34%">
                    <div class="cart-body" id="userInfo">
                        
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="">Đổi mật khẩu</a></li>
                        <li class="list-group-item"><a href="">Dòng 1</a></li>
                        <li class="list-group-item"><a href="">Dòng 2</a></li>
                    </ul>
                    <div class="cart-body">
                        <a href="/api/auth/logout" class="btn btn-danger btn-sm btn-block" id="logout">Đăng xuất</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ('../layouts/footer'); -%>