<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Starlight">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/starlight/img/starlight-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/starlight">
    <meta property="og:title" content="Starlight">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/starlight/img/starlight-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/starlight/img/starlight-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Đăng ký thành viên</title>

    <!-- vendor css -->
    <link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="/lib/select2/css/select2.min.css" rel="stylesheet">


    <!-- Starlight CSS -->
    <link rel="stylesheet" href="/css/starlight.css">
</head>

<body>

    <div class="d-flex align-items-center justify-content-center bg-sl-primary ht-md-100v">

        <div class="login-wrapper wd-300 wd-xs-400 pd-25 pd-xs-40 bg-white">
            <form action="" method="">
                <div class="signin-logo tx-center tx-24 tx-bold tx-inverse">Đăng <span class="tx-info tx-normal">Ký</span></div>
                
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nhập email" name="email">
                </div><!-- form-group -->
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Nhập mật khẩu" name="password">
                </div><!-- form-group -->
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nhập họ và tên" name="name">
                </div><!-- form-group -->
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nhập số điện thoại" name="phone">
                </div><!-- form-group -->
                <div class="form-group tx-12">Bằng cách nhấp vào nút Đăng ký bên dưới, bạn đã đồng ý với chính sách bảo mật và điều
                    khoản sử dụng trang web của chúng
                    tôi.</div>
                <button type="submit" class="btn btn-info btn-block">Đăng ký</button>
            </form>
          

            <div class="mg-t-40 tx-center">Bạn đẫ có tài khoản ? <a href="/login" class="tx-info">Đăng Nhập</a></div>
        </div><!-- login-wrapper -->
    </div><!-- d-flex -->

    <script src="/lib/jquery/jquery.js"></script>
    <script src="/lib/popper.js/popper.js"></script>
    <script src="/lib/bootstrap/bootstrap.js"></script>
    <script src="/lib/select2/js/select2.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(document).on('click','button',function(e){
            e.preventDefault();
            const email = $('input[name="email"]').val()
            const password = $('input[name="password"]').val()
            const name = $('input[name="name"]').val()
            const phone = $('input[name="phone"]').val()
            $.ajax({
                url: "http://localhost:9000/api/auth/register",
                type: "POST",
                data: {
                    email: email,
                    password: password,
                    name:name,
                    phone: phone,
                }
            }).then(data => {
                swal(`Đăng ký thành công`)
                .then(() => {
                    window.location.replace('/login');
                })
            })
        })
        
    </script>
    <script>
        $(function () {
            'use strict';

            $('.select2').select2({
                minimumResultsForSearch: Infinity
            });
        });
    </script>

</body>

</html>